body{
    font-family: 'Oswald', sans-serif;
    margin: 0px;

}
h1{
    font-size: 50px;
}
.color{
    color: red;
}
section{
    display: flex;
}
.pera{
    width: 75%;
    padding: 5%;
}
.chobi img{
    width: 50%;
    padding: 10%;

}
.botton{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 65, 65));
    border-radius: 10px;
    color: rgb(43, 42, 42);
    font-weight: 700;
}
.bg{
    background-image: url(backgroung.jpg);
    background-repeat: no-repeat;
}
.2nd part {
    display: flex;
}
.miami{
    width: 50%;
    padding: 10%;
}