body{
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    background-image: url(backgroung.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
h1{
    font-size: 50px;
}
.color{
    color: red;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.pera{
    width: 75%;
    padding: 5%;
}
.chobi img{
    width: 50%;
    padding: 10%;

}
.botton{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(18, 12, 99));
    border-radius: 10px;
    color: rgb(43, 42, 42);
    font-weight: 700;
}
.rong{
    color: blue;
}
section{
    display: flex;
}
.miami img{
    width: 30%;
    padding: 10%;
}
.asi{
    width: 75%;
    padding-right:20% ;
}
.downlode{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(12, 10, 112));
    border-radius: 10px;
    color: rgb(43, 42, 42);
    font-weight: 700;
}
